Issue with local SSL certificates

I'm trying to get SSL/HTTPS certificates for all my local services. All my services are working fine and already have SSL certificates. The only one that is not working is my router management page, for which the login normally is: https://192.168.0.1/webpages/login.html and after login is: https://192.168.0.1/webpages/index.html

When I add it to Nginx, it doesn't work and I get this error on the browser:

`502 Bad Gateway`

And the Nginx logs say this:

`upstream sent "Content-Length" and "Transfer-Encoding" headers at the same time while reading response header from upstream`

How can I fix this?
Can anyone help?

Here are a few details:

```
curl -v http://192.168.0.1

*   Trying 192.168.0.1:80...
* Connected to 192.168.0.1 (192.168.0.1) port 80 (#0)
> GET / HTTP/1.1
> Host: 192.168.0.1
> User-Agent: curl/7.88.1
> Accept: */*
>
< HTTP/1.1 200 OK
< Connection: close
< Transfer-Encoding: chunked
< ETag: "732-110-66991680"
< Last-Modified: Thu, 18 Jul 2024 13:20:00 GMT
< Date: Tue, 25 Feb 2025 17:56:58 GMT
< X-Frame-Options: sameorigin
< Content-Security-Policy: frame-ancestors 'self'
< Content-Type: text/html
< Content-Length: 272
<
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="refresh" content="0; URL=/webpages/login.html" />
</head>
</html>
* Closing connection 0
```

```
curl -v https://192.168.0.1

*   Trying 192.168.0.1:443...
* Connected to 192.168.0.1 (192.168.0.1) port 443 (#0)
* ALPN: offers h2,http/1.1
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
*  CAfile: /etc/ssl/certs/ca-certificates.crt
*  CApath: /etc/ssl/certs
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.3 (IN), TLS handshake, Encrypted Extensions (8):
* TLSv1.3 (IN), TLS handshake, Certificate (11):
* TLSv1.3 (OUT), TLS alert, bad certificate (554):
* SSL certificate problem: EE certificate key too weak
* Closing connection 0
curl: (60) SSL certificate problem: EE certificate key too weak
More details here: https://curl.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not establish a secure connection to it. To learn more about this situation and how to fix it, please visit the web page mentioned above.
```

```
curl -v -k https://192.168.0.1


*   Trying 192.168.0.1:443...
* Connected to 192.168.0.1 (192.168.0.1) port 443 (#0)
* ALPN: offers h2,http/1.1
* TLSv1.3 (OUT), TLS handshake, Client hello (1):
* TLSv1.3 (IN), TLS handshake, Server hello (2):
* TLSv1.3 (IN), TLS handshake, Encrypted Extensions (8):
* TLSv1.3 (IN), TLS handshake, Certificate (11):
* TLSv1.3 (IN), TLS handshake, CERT verify (15):
* TLSv1.3 (IN), TLS handshake, Finished (20):
* TLSv1.3 (OUT), TLS change cipher, Change cipher spec (1):
* TLSv1.3 (OUT), TLS handshake, Finished (20):
* SSL connection using TLSv1.3 / TLS_AES_256_GCM_SHA384
* ALPN: server did not agree on a protocol. Uses default.
* Server certificate:
*  subject: C=CN; ST=ShenZhen; L=ShenZhen; CN=TP-Link
*  start date: Jan  1 08:00:44 2018 GMT
*  expire date: Sep 18 08:00:44 2037 GMT
*  issuer: C=CN; ST=ShenZhen; L=ShenZhen; CN=TP-Link
*  SSL certificate verify result: EE certificate key too weak (66), continuing anyway.
* using HTTP/1.x
> GET / HTTP/1.1
> Host: 192.168.0.1
> User-Agent: curl/7.88.1
> Accept: */*
>
* TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
* TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
* old SSL session ID is stale, removing
< HTTP/1.1 200 OK
< Connection: close
< Transfer-Encoding: chunked
< ETag: "732-110-66991680"
< Last-Modified: Thu, 18 Jul 2024 13:20:00 GMT
< Date: Tue, 25 Feb 2025 19:54:27 GMT
< X-Frame-Options: sameorigin
< Content-Security-Policy: frame-ancestors 'self'
< Content-Type: text/html
< Content-Length: 272
<
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="refresh" content="0; URL=/webpages/login.html" />
</head>
</html>
* Closing connection 0
* TLSv1.3 (OUT), TLS alert, close notify (256):

```

As stated in the log message, your router is sending both "Content-Length" and "Transfer-Encoding" in the response. This is explicitly forbidden in the HTTP/1.1 specification ([RFC9112 Section 6.2](https://www.rfc-editor.org/rfc/rfc9112#section-6.2) or [RFC7230 Section 3.3.2](https://www.rfc-editor.org/rfc/rfc7230#section-3.3.2)) and we chose to reject such invalid upstream responses.

There's no configuration option to allow this, so your options are:
* fix the router software to send a compliant HTTP response
* use `stream` proxy instead of HTTP
* use your own build of nginx with the relevant part of https://github.com/nginx/nginx/commit/d22157fade0c3dc05b860be8d7e3eff4a56cb7d3 reverted. For the record, we are not interested in accepting such a change to the nginx code.

Thank you for your response and explanation.
Sadly, I can't modify the software on my router.
However, I did some research and I found another reverse proxy that doesn't have the same issue that Nginx currently has: Caddy

After about 30 minutes I was able to migrate from Nginx to Caddy and everything went smoothly.
Good luck with this project. 

Thanks again for the help!