NGINX sends illegal HTTP/2 headers from HTTP/1.1 upstream.

### Bug Overview

When NGINX proxies a HTTP/2 connection from libsoup to a HTTP/1.1 to my Nextcloud, headers illegal in HTTP/2 (like "Connection")are forwarded from the HTTP/1.1 upstream to the libsoup client, triggering a PROTOCOL_ERROR. Discovered on [libsoup issue #332](https://gitlab.gnome.org/GNOME/libsoup/-/work_items/332#note_2785384).

### Expected Behavior

- NGINX should not send illegal HTTP/2 headers unless explicitly allowed to do so.
- NGINX should fully adapt HTTP/1.1 into HTTP/2 or refuse to do so.

### Steps to Reproduce the Bug

Using the following config, try mounting a Nextcloud WebDAV through `gio` or adding a Nextcloud to `gonome-online-accounts`.

### NGINX Configuration

```
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name nextcloud.example.com;

    location / {
        proxy_http_version 1.1;
        proxy_pass https://192.168.123.4/;
    }
}
```


### NGINX version and build configuration options

The output of `nginx -V`: `nginx version: nginx/1.22.1
built with OpenSSL 3.0.18 30 Sep 2025 (running with OpenSSL 3.0.19 27 Jan 2026)
TLS SNI support enabled
configure arguments: --with-cc-opt='-g -O2 -ffile-prefix-map=/build/nginx-nRYINv/nginx-1.22.1=. -fstack-protector-strong -Wformat -Werror=format-security -fPIC -Wdate-time -D_FORTIFY_SOURCE=2' --with-ld-opt='-Wl,-z,relro -Wl,-z,now -fPIC' --prefix=/usr/share/nginx --conf-path=/etc/nginx/nginx.conf --http-log-path=/var/log/nginx/access.log --error-log-path=stderr --lock-path=/var/lock/nginx.lock --pid-path=/run/nginx.pid --modules-path=/usr/lib/nginx/modules --http-client-body-temp-path=/var/lib/nginx/body --http-fastcgi-temp-path=/var/lib/nginx/fastcgi --http-proxy-temp-path=/var/lib/nginx/proxy --http-scgi-temp-path=/var/lib/nginx/scgi --http-uwsgi-temp-path=/var/lib/nginx/uwsgi --with-compat --with-debug --with-pcre-jit --with-http_ssl_module --with-http_stub_status_module --with-http_realip_module --with-http_auth_request_module --with-http_v2_module --with-http_dav_module --with-http_slice_module --with-threads --with-http_addition_module --with-http_flv_module --with-http_gunzip_module --with-http_gzip_static_module --with-http_mp4_module --with-http_random_index_module --with-http_secure_link_module --with-http_sub_module --with-mail_ssl_module --with-stream_ssl_module --with-stream_ssl_preread_module --with-stream_realip_module --with-http_geoip_module=dynamic --with-http_image_filter_module=dynamic --with-http_perl_module=dynamic --with-http_xslt_module=dynamic --with-mail=dynamic --with-stream=dynamic --with-stream_geoip_module=dynamic`

### Environment where NGINX is being built and/or deployed

- Target deployment platform: Raspberry Pi 2
- Target OS: Raspberry Pi OS (Debian 12.12)


### Architecture where NGINX is being built and/or deployed

The output of `uname -a`: `Linux gate 6.12.87+rpt-rpi-v7 #1 SMP Raspbian 1:6.12.87-1+rpt1~bookworm (2026-05-12) armv7l GNU/Linux`


### NGINX Debug Log

```
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http cl:-1 max:0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 rewrite phase: 3
2026/06/13 14:25:59 [debug] 4361#4361: *413989 post rewrite phase: 4
2026/06/13 14:25:59 [debug] 4361#4361: *413989 generic phase: 5
2026/06/13 14:25:59 [debug] 4361#4361: *413989 generic phase: 6
2026/06/13 14:25:59 [debug] 4361#4361: *413989 generic phase: 7
2026/06/13 14:25:59 [debug] 4361#4361: *413989 access phase: 8
2026/06/13 14:25:59 [debug] 4361#4361: *413989 access phase: 9
2026/06/13 14:25:59 [debug] 4361#4361: *413989 access phase: 10
2026/06/13 14:25:59 [debug] 4361#4361: *413989 post access phase: 11
2026/06/13 14:25:59 [debug] 4361#4361: *413989 generic phase: 12
2026/06/13 14:25:59 [debug] 4361#4361: *413989 generic phase: 13
2026/06/13 14:25:59 [debug] 4361#4361: *413989 posix_memalign: 0157A000:4096 @16
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http init upstream, client timer: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 post event 013A5190
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http script copy: "Host"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http script var: "[REDACTED upstream]"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http script copy: "Connection"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http script copy: "close"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http script copy: ""
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http script copy: ""
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "accept-encoding: gzip, deflate, br"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "user-agent: gnome-online-accounts/3.50.4 libsoup/3.4.4"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header:
"OPTIONS / HTTP/1.1
Host: [REDACTED upstream]
Connection: close
accept-encoding: gzip, deflate, br
user-agent: gnome-online-accounts/3.50.4 libsoup/3.4.4

"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http cleanup add: 01366FF0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 get rr peer, try: 1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 stream socket 18
2026/06/13 14:25:59 [debug] 4361#4361: *413989 epoll add connection: fd:18 ev:80002005
2026/06/13 14:25:59 [debug] 4361#4361: *413989 connect to [REDACTED upstream]:443, fd:18 #413990
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream connect: -2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 posix_memalign: 017619D0:128 @16
2026/06/13 14:25:59 [debug] 4361#4361: *413989 event timer add: 18: 60000:1741354794
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http finalize request: -4, "/?" a:1, c:2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http request count:2 blk:0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 delete posted event 013A5190
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http run request: "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream check client, write event:0, "/"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream request: "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream send request handler
2026/06/13 14:25:59 [debug] 4361#4361: *413989 set session: 00000000
2026/06/13 14:25:59 [debug] 4361#4361: *413989 tcp_nodelay
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_do_handshake: -1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_get_error: 2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL handshake handler: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_do_handshake: -1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_get_error: 2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL handshake handler: 1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_do_handshake: -1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_get_error: 2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL handshake handler: 1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_do_handshake: -1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_get_error: 2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL handshake handler: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 save session: 014EAD18
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_do_handshake: 1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL: TLSv1.2, cipher: "ECDHE-ECDSA-CHACHA20-POLY1305 TLSv1.2 Kx=ECDH Au=ECDSA Enc=CHACHA20/POLY1305(256) Mac=AEAD"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream ssl handshake: "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream send request
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream send request body
2026/06/13 14:25:59 [debug] 4361#4361: *413989 chain writer buf fl:1 s:152
2026/06/13 14:25:59 [debug] 4361#4361: *413989 chain writer in: 0157A400
2026/06/13 14:25:59 [debug] 4361#4361: *413989 posix_memalign: 01430B50:128 @16
2026/06/13 14:25:59 [debug] 4361#4361: *413989 malloc: 017830D0:16384
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL buf copy: 152
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL to write: 152
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_write: 152
2026/06/13 14:25:59 [debug] 4361#4361: *413989 chain writer out: 00000000
2026/06/13 14:25:59 [debug] 4361#4361: *413989 event timer del: 18: 1741354794
2026/06/13 14:25:59 [debug] 4361#4361: *413989 event timer add: 18: 60000:1741354828
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream process header
2026/06/13 14:25:59 [debug] 4361#4361: *413989 malloc: 013BD000:4096
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_read: -1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_get_error: 2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream request: "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream dummy handler
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream request: "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream process header
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_read: 1309
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_read: -1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_get_error: 2
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy status 302 "302 Found"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Date: Sat, 13 Jun 2026 12:25:59 GMT"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Server: "
[REDACTED cookies]
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Strict-Transport-Security: max-age=15768000; includeSubDomains"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "X-Content-Type-Options: nosniff"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "X-Frame-Options: SAMEORIGIN"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "X-Permitted-Cross-Domain-Policies: none"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "X-Robots-Tag: noindex, nofollow"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "X-XSS-Protection: 1; mode=block"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Referrer-Policy: no-referrer"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Upgrade: h2,h2c"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Connection: Upgrade, close"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Location: https://[REDACTED]/login"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Content-Length: 0"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header: "Content-Type: text/html; charset=UTF-8"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy header done
2026/06/13 14:25:59 [debug] 4361#4361: *413989 rewritten location: "/login"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 header filter
2026/06/13 14:25:59 [debug] 4361#4361: *413989 posix_memalign: 014BDD20:4096 @16
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 table size update: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: ":status: 302"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "server: nginx/1.22.1"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "date: Sat, 13 Jun 2026 12:25:59 GMT"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "content-type: text/html; charset=UTF-8"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "content-length: 0"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "location: https://[REDACTED upstream domain]/login"
[REDACTED cookies]
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "strict-transport-security: max-age=15768000; includeSubDomains"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "x-content-type-options: nosniff"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "x-frame-options: SAMEORIGIN"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "x-permitted-cross-domain-policies: none"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "x-robots-tag: noindex, nofollow"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "x-xss-protection: 1; mode=block"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "referrer-policy: no-referrer"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 output header: "upgrade: h2,h2c"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2:1 create HEADERS frame 0157AE00: len:919 fin:1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http cleanup add: 0157AEC0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http cacheable: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http proxy filter init s:302 h:0 c:0 l:0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream process upstream
2026/06/13 14:25:59 [debug] 4361#4361: *413989 pipe read upstream: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 pipe preread: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 pipe buf free s:0 t:1 f:0 013BD000, pos 013BD51D, size: 0 file: 0, size: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 pipe length: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 pipe write downstream: 1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 pipe write downstream done
2026/06/13 14:25:59 [debug] 4361#4361: *413989 event timer del: 18: 1741354828
2026/06/13 14:25:59 [debug] 4361#4361: *413989 event timer add: 18: 60000:1741355180
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream exit: 00000000
2026/06/13 14:25:59 [debug] 4361#4361: *413989 finalize http upstream request: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 finalize http proxy request
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free rr peer 1 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 SSL_shutdown: 1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 close http upstream connection: 18
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free: 017830D0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free: 017619D0, unused: 24
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free: 01430B50, unused: 56
2026/06/13 14:25:59 [debug] 4361#4361: *413989 event timer del: 18: 1741355180
2026/06/13 14:25:59 [debug] 4361#4361: *413989 reusable connection: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http upstream temp fd: -1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http output filter "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http copy filter: "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http postpone filter "/?" 7ECCE86C
2026/06/13 14:25:59 [debug] 4361#4361: *413989 write new buf t:0 f:0 00000000, pos 00000000, size: 0 file: 0, size: 0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http write filter: l:1 f:0 s:0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http write filter limit 2097152
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http2 send chain: 0157AF90
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http write filter 00000000
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http copy filter: 0 "/?"
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http finalize request: 0, "/?" a:1, c:1
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http request count:1 blk:0
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http close request
2026/06/13 14:25:59 [debug] 4361#4361: *413989 http log handler
2026/06/13 14:25:59 [debug] 4361#4361: *413989 geoip2 http log handler
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free: 013BD000
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free: 01366000, unused: 4
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free: 0157A000, unused: 40
2026/06/13 14:25:59 [debug] 4361#4361: *413989 free: 014BDD20, unused: 2544
```


### Additional Context

workaround:
```
proxy_hide_header Connection;
proxy_hide_header Keep-Alive;
proxy_hide_header Proxy-Connection;
proxy_hide_header Transfer-Encoding;
proxy_hide_header Upgrade;
```

refer to https://trac.nginx.org/nginx/ticket/915 and https://trac.nginx.org/nginx/ticket/2078

I personally use a Lua function to avoid this problem, and of course, I hope this can be handled by default in nginx.

```
-- headers.resp_get_header and headers.resp_clear_header are custom wrapper functions for ngx.headers
function _M.header_filter(next_filter, ctx)
    log.debug("upgrade header filter")

    local upgrade = headers.resp_get_header("Upgrade")
    if type(upgrade) == "string" and string.find(upgrade, "h2") then
        log.notice("upgrade header has been removed to prevent HTTP/2 protocol error")
        headers.resp_clear_header("Upgrade")
    end

    return next_filter(ctx)
end
```

Thank you for the detailed report with debug logs and reproduction steps.

This is a confirmed issue. The `Upgrade: h2,h2c` header from the HTTP/1.1 upstream is being forwarded to the HTTP/2 client, which violates RFC 9113, Section 8.2.2 — connection-specific header fields (`Connection`, `Proxy-Connection`, `Keep-Alive`, `Transfer-Encoding`, `Upgrade`) MUST NOT appear in HTTP/2 messages.

Note that the __request__ side was already fixed in commit d3a76322cf7a ("Restrict connection-specific headers in HTTP/2 and HTTP/3"), which rejects connection-specific headers in incoming HTTP/2 and HTTP/3 client requests. The equivalent filtering for the __response__ side is still missing.

This is the same underlying issue as #1394, which identified this gap through code review. Your report provides a concrete real-world reproduction case.

Your workaround using `proxy_hide_header` is correct and effective for now:

```nginx
proxy_hide_header Upgrade;
proxy_hide_header Connection;
proxy_hide_header Keep-Alive;
proxy_hide_header Proxy-Connection;
proxy_hide_header Transfer-Encoding;
```



As the reporter of #1394, I don’t think this is a duplicate.  #1394 is about HTTP/2 and gRPC upstreams, for which sending any of these headers is a bug.  This issue is about HTTP/1.1 upstreams, for which sending these headers is okay.

I appreciate the clarification. After a closer look at the code paths, these are distinct issues:

#1394 addresses HTTP/2 and gRPC upstreams, where connection-specific headers are a protocol violation per RFC 9113 -8.2.2 and should be rejected as malformed at the input/parsing layer ([ngx_http_grpc_module.c](vscode-file://vscode-app/Applications/Visual%20Studio%20Code.app/Contents/Resources/app/out/vs/code/electron-browser/workbench/workbench.html) / [ngx_http_proxy_v2_module.c](vscode-file://vscode-app/Applications/Visual%20Studio%20Code.app/Contents/Resources/app/out/vs/code/electron-browser/workbench/workbench.html)).

#1461 addresses HTTP/1.1 upstreams, where these headers are perfectly valid but need to be stripped before forwarding to an HTTP/2 downstream client. The fix here belongs in the shared upstream header processing path ([ngx_http_upstream.c](vscode-file://vscode-app/Applications/Visual%20Studio%20Code.app/Contents/Resources/app/out/vs/code/electron-browser/workbench/workbench.html)) or the HTTP/2 output filter.

Specifically, Connection, Keep-Alive, and Transfer-Encoding are already handled in ngx_http_upstream_headers_in[] with ngx_http_upstream_ignore_header_line as the copy handler, but Upgrade and Proxy-Connection are not, which is why they leak through to the HTTP/2 output, as the debug log in this report clearly shows.

Reopening this as a separate issue.

I have reproduced the issue.

Root cause confirmed: In NGINX's ngx_http_upstream_headers_in[], Connection, Keep-Alive, and Transfer-Encoding have ngx_http_upstream_ignore_header_line as their copy handler so they get stripped. But Upgrade and Proxy-Connection are not listed there, so they pass through unchecked into the HTTP/2 response frame.

Will share the PR soon with fix addressed.