Accept (and discard) HTTP/2 trailers

### Feature Overview

NGINX should accept (and discard) HTTP/2 trailers.

### Alternatives Considered

Keep the current behavior of treating them as an error condition.

### Additional Context

I suspect (but have not confirmed) that HTTP/3 is also affected.

[RFC 9113 §8.1](https://datatracker.ietf.org/doc/html/rfc9113#name-http-message-framing) permits a client to send a trailing `HEADERS` frame (with `END_STREAM` set) after a DATA frame to convey trailers. 
nginx currently rejects any `HEADERS` frame whose stream ID is ≤ `h2c->last_sid` with `NGX_HTTP_V2_PROTOCOL_ERROR`, which always triggers for trailers because the trailer `HEADERS reuses` the same stream ID as the request.

While trailers don’t need to be forwarded to upstream, they _do_ need to be checked for being well-formed.