Want to hide server details in response header

Hi Team,

we have angular application that using nginx and docket to deployed over server, so during pen test we found security issue as this leaks the server information so any one here can help us or guide how we can hoe those details ?

Please check the attached image.

![Image](https://github.com/user-attachments/assets/e5bfe5ad-8981-421d-b33e-a731d92ebc18)


Based on your http response I imagine you tried ```server_tokens off;``` as that will omit the version but leave the name of the server in the response, resulting in ```Server: nginx/x.x.x``` turning into ```Server: nginx```.

If you want more control over your http responses an option would be to extend the functionality of your nginx server with the headers_more module.  This allows you to append the following line under the http context block in your nginx config file:

```
http {
    ...
    more_set_headers "Server: ";
    ...
}
```

Since the ```Server``` field does not have a value to return, the entry will be removed entirely from the http response. I could not find an RFC explicitly stating this as a requirement, but it is the behavior I have observed with http/1.1 and imagine http/2 and http/3 inherit this behavior (I also imagine this will be tested on your end regardless).  Here is a little more information on the topic [RFC 7231 section 7.4.2](https://datatracker.ietf.org/doc/html/rfc7231#section-7.4.2).

Hope this helps!

As the previous comment states, nginx OSS only omits the version when you turn off server_tokens. The documentation for server_tokens explains this. Please see https://nginx.org/en/docs/http/ngx_http_core_module.html#server_tokens
