Stop accepting invalid HTTP field values (according to RFC 9110 §5.5)

### Feature Overview

NGINX should reject any fields (headers or trailers) with invalid values, including leading and trailing SP and TAB.

Rejecting leading and trailing SP and TAB is a MUST in both HTTP/2 ([RFC 9113 §8.2.1])  and HTTP/3 ([RFC 9114 §10.3]).  Rejecting invalid characters other than NUL, CR, and LF is a SHOULD in HTTP/2 ([RFC 9113 §8.2.1]) and a MUST HTTP/3 ([RFC 9114 §10.3]). Therefore, proxying an HTTP/1.0, HTTP/1.1, or HTTP/2 message with an invalid field value to HTTP/3 cannot be done losslessly.

The syntax of valid field values is in [RFC 9110 §5.5].  The HTTP/1.x parser MUST strip leading and trailing SP and HTAB from field values ([RFC 9112 §5]) and will properly do so onces #1404 is merged.

[RFC 9114 §10.3]: https://rfc-editor.org/info/rfc9114/#section-10.3
[RFC 9113 §8.2.1]: https://rfc-editor.org/info/rfc9113/#section-8.2.1
[RFC 9112 §5]: https://rfc-editor.org/info/rfc9112/#section-5
[RFC 9110 §5.5]: https://rfc-editor.org/info/rfc9110/#section-5.5

### Alternatives Considered

Keep the existing behavior, which can lead to malformed HTTP/2 and HTTP/3 traffic being sent and to NGINX seeing field values that are different than what a backend server sees.

### Additional Context

Other code is inconsistent about this: h2o and nghttp2 are strict, while HAProxy only performs the minimum validation and strips leading and trailing whitespace.

Both H2 (`ngx_http_v2_validate_header`) and H3 (`ngx_http_v3_validate_header`) only reject `\0`, `CR`, `LF` in field values. `RFC 9114 §10.3` (H3 `MUST`) and `RFC 9113 §8.2.1` (H2 `SHOULD`) require rejecting leading/trailing SP/HTAB and other non-field-vchar bytes. A shared validation table needs to be added.