nginx seemingly ignoring If-None-Match in the presence of If-Modified-Since in violation of specs

### Environment

I'm coming at this from the angle of a search engine operator, and have seen the behavior in the wild at scale, though I've reproduced locally for this issue on Arch linux (but also seen on a Debian server I operate, and many others):

nginx version: nginx/1.28.0
Linux blackbox 6.12.23-1-lts #1 SMP PREEMPT_DYNAMIC Thu, 10 Apr 2025 13:28:36 +0000 x86_64 GNU/Linux

### Description

I've observed nginx servers in general do not seem to deal well with If-Modified-Since, specifically, it lets
If-Modified-Since override the behavior of If-None-Match, which violates the HTTP1.1 specs.

The [specifications say](https://www.rfc-editor.org/rfc/rfc9110.html#name-if-modified-since)

> A recipient MUST ignore If-Modified-Since if the request contains an [If-None-Match](https://www.rfc-editor.org/rfc/rfc9110.html#field.if-none-match) header field; the condition in [If-None-Match](https://www.rfc-editor.org/rfc/rfc9110.html#field.if-none-match) is considered to be a more accurate replacement for the condition in If-Modified-Since, and the two are only combined for the sake of interoperating with older intermediaries that might not implement [If-None-Match](https://www.rfc-editor.org/rfc/rfc9110.html#field.if-none-match).


**Let's trigger this incorrect behavior:**

````
$ curl -v localhost
...
< HTTP/1.1 200 OK
< Server: nginx/1.28.0
< Date: Fri, 25 Apr 2025 11:44:41 GMT
< Content-Type: text/html
< Content-Length: 615
< Last-Modified: Wed, 23 Apr 2025 19:23:44 GMT
< Connection: keep-alive
< ETag: "68093e40-267"
< Accept-Ranges: bytes
````

Pass the ETag as If-None-Match and get a 304 -- so far so good.

````
$ curl -v localhost -H "If-None-Match: \"68093e40-267\"
< HTTP/1.1 304 Not Modified
````

Rewind the Date header a bit to get a date after Last-Modified but before now. ... and we get a 200. This is technically fine --  a server isn't obliged to understand this header, though I'd somewhat expect it to given we're just serving a static file:

````
$ curl -v localhost -H "If-Modified-Since: Fri, 25 Apr 2025 10:44:41 GMT"
< HTTP/1.1 200 OK
````

It's when we combine the two, we get behavior violating HTTP/1.1 specs, ignoring If-None-Match in seeming favor of If-Modified-Since:

````
$ curl -v localhost -H "If-None-Match: \"68093e40-267\"" -H "If-Modified-Since: Fri, 25 Apr 2025 10:44:41 GMT"
< HTTP/1.1 200 OK
````

#### nginx configuration

```

worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       80;
        server_name  localhost;

        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }

    }
}

```

Nginx does not ignore If-None-Match, but when both headers exist at the same time, both are considered.
For simplicity, I will call Last-Modified LM, If-Modified-Since IMS, and If-None-Match INM.
The following is the processing logic of nginx:
1. If request header has neither INM nor IMS, return 200
1. if request header only have INM, and it matches the Etag. Return 304.
2. if request header only have INM, and it doesn't match the Etag. Return 200.
3. if request header only have IMS, and it matches LM (the matching logic depends on the directive if_modified_since, the same below). Return 304.
4. if request header only have IMS, and it doesn't match LM. Return 200.
5. if request header have two headers, and it can match both LM and Etag. Return 304.
6. if request header have two headers, but either one or both cannot match. Return 200.

That is to say in the last case you tested, the Etag was taken into account, but because the LM could not satisfy the requirement, it was still considered modified.

see also: https://nginx.org/en/docs/http/ngx_http_core_module.html#if_modified_since

However, RFC9110 and RFC7231 do specify the requirement to ignore if-modified-since when if-none-match is present, and nginx may be based on RFC2616. The code has not changed for many years. I suggest that a configuration item can be added to handle this logic.


I add a new pull request for this issue. To maintain forward compatibility, I did not modify the logic directly, but provided a directive to control the behavior. You can try it.


**Syntax**: not_modified_check off | any | strict | prefer_if_none_match;
**Default**: not_modified_check strict;
**Context**: http, server, location

Specifies how to check if the response is not modified (304 Not Modified):

* off: Do not check if the response is unmodified. the response is always considered modified.
* any: Check if the response is unmodified if either If-Modified-Since or If-None-Match request headers are present. If any of the headers' checks pass, a 304 response is returned.
* strict:
If only one header (If-Modified-Since or If-None-Match) is present, check that header. If its condition is met, return 304 (Not Modified).
If both headers are present, both must pass their checks to return 304 (Not Modified).
If neither header is present, the response is considered modified.
* prefer_if_none_match:
If only one header (If-Modified-Since or If-None-Match) is present, check that header. If its condition is met, return 304 (Not Modified).
If both headers are present, only the If-None-Match header's condition must be satisfied to return 304 (Not Modified).
If neither header is present, the response is considered modified.