HTTPS on Short-lived connection generates TCP RST

Use HTTPS over short-lived TCP connection (connection:close or http1.0) that makes nginx respond tcp reset during connection closing.

This situation have my attention because I use some health check functions on AWS. Route53 health check and Load Balancer Target Group health check.   I use HTTPS as health check protocol. The I notice there are too many TCP RST generated by Nginx machine. However, every health check result is 200 OK.

I use curl https://10.0.0.125 but cannot reproduce the RST.  After decrypt HTTPS packets. I see health check use short-lived TCP connection with HTTP header connection:close .

Then I can use `curl https://10.0.0.125 -H "Connection:close" -vk` to reproduce this.

This issue can be reproduced on nginx 1.25.3 and 1.27.2 . 

```
# nginx -V
nginx version: nginx/1.25.3
built by gcc 7.3.1 20180712 (Red Hat 7.3.1-17) (GCC) 
built with OpenSSL 1.0.2k-fips  26 Jan 2017
TLS SNI support enabled
configure arguments: --prefix=/usr/share/nginx --sbin-path=/usr/sbin/nginx --modules-path=/usr/lib64/nginx/modules --conf-path=/etc/nginx/nginx.conf --error-log-path=/var/log/nginx/error.log --http-log-path=/var/log/nginx/access.log --http-client-body-temp-path=/var/lib/nginx/tmp/client_body --http-proxy-temp-path=/var/lib/nginx/tmp/proxy --http-fastcgi-temp-path=/var/lib/nginx/tmp/fastcgi --http-uwsgi-temp-path=/var/lib/nginx/tmp/uwsgi --http-scgi-temp-path=/var/lib/nginx/tmp/scgi --pid-path=/run/nginx.pid --lock-path=/run/lock/subsys/nginx --user=nginx --group=nginx --with-compat --with-debug --with-file-aio --with-http_addition_module --with-http_auth_request_module --with-http_dav_module --with-http_degradation_module --with-http_flv_module --with-http_gunzip_module --with-http_gzip_static_module --with-http_image_filter_module=dynamic --with-http_mp4_module --with-http_perl_module=dynamic --with-http_random_index_module --with-http_realip_module --with-http_secure_link_module --with-http_slice_module --with-http_ssl_module --with-http_stub_status_module --with-http_sub_module --with-http_v2_module --with-http_xslt_module=dynamic --with-mail=dynamic --with-mail_ssl_module --with-pcre --with-pcre-jit --with-stream=dynamic --with-stream_ssl_module --with-stream_ssl_preread_module --with-stream=dynamic --with-threads
```

tcpdump on nginx   
172.31.27.54 is client   
10.0.0.125 is nginx
```
1 14:07:57.752051 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [S], seq 2916343639, win 26883, options [mss 8460,sackOK,TS val 1944688083 ecr 0,nop,wscale 7], length 0
2 14:07:57.752087 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [S.], seq 1361256362, ack 2916343640, win 62643, options [mss 8961,sackOK,TS val 2105058218 ecr 1944688083,nop,wscale 7], length 0
3 14:07:57.753133 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [.], ack 1, win 211, options [nop,nop,TS val 1944688084 ecr 2105058218], length 0
4 14:07:57.753710 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [P.], seq 1:518, ack 1, win 211, options [nop,nop,TS val 1944688085 ecr 2105058218], length 517
5 14:07:57.753725 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [.], ack 518, win 486, options [nop,nop,TS val 2105058220 ecr 1944688085], length 0
6 14:07:57.754644 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [P.], seq 1:1522, ack 518, win 486, options [nop,nop,TS val 2105058220 ecr 1944688085], length 1521
7 14:07:57.755371 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [.], ack 1522, win 234, options [nop,nop,TS val 1944688086 ecr 2105058220], length 0
8 14:07:57.756393 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [P.], seq 518:644, ack 1522, win 234, options [nop,nop,TS val 1944688087 ecr 2105058220], length 126
9 14:07:57.756553 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [P.], seq 1522:1573, ack 644, win 486, options [nop,nop,TS val 2105058222 ecr 1944688087], length 51
10 14:07:57.758227 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [P.], seq 644:746, ack 1573, win 234, options [nop,nop,TS val 1944688089 ecr 2105058222], length 102
11 14:07:57.758453 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [P.], seq 1573:1847, ack 746, win 486, options [nop,nop,TS val 2105058224 ecr 1944688089], length 274
12 14:07:57.758514 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [P.], seq 1847:1878, ack 746, win 486, options [nop,nop,TS val 2105058224 ecr 1944688089], length 31
13 14:07:57.758538 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [F.], seq 1878, ack 746, win 486, options [nop,nop,TS val 2105058224 ecr 1944688089], length 0
14 14:07:57.759795 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [.], ack 1879, win 258, options [nop,nop,TS val 1944688091 ecr 2105058224], length 0
15 14:07:57.759857 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [P.], seq 746:777, ack 1879, win 258, options [nop,nop,TS val 1944688091 ecr 2105058224], length 31
16 14:07:57.759870 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [R], seq 1361258241, win 0, length 0
17 14:07:57.759925 IP 172.31.27.54.60974 > 10.0.0.125.443: Flags [F.], seq 777, ack 1879, win 258, options [nop,nop,TS val 1944688091 ecr 2105058224], length 0
18 14:07:57.759932 IP 10.0.0.125.443 > 172.31.27.54.60974: Flags [R], seq 1361258241, win 0, length 0
```

After some investigation via eBPF, the reasons for above 2 RST are 
1. PSH packets to timewait socket
2. ACK packets to destroyed socket.

Decrypt packets via sslkey:
1. The No.11 12 13 packets are sent by nginx. They are HTTP 200 , SSL close notify, TCP FIN respectively.
2. Client sends ACK in No.14 . Sent SSL close notify in No.15 ,  TCP FIN ACK in No.17
3. Nginx reset in No.16 because socket is timewait socket. Nginx calls "close" then stop reading and writing from this socket.
4. Nginx reset in No.18 because this socket has been deleted.  No.17 will be treated as a new socket.  An ACK packets as first packet to a socket will be reset.

Reading nginx code.
I see the Nginx doesn't expect SSL close notify from peer by setting c->ssl->no_wait_shutdown = 1
https://github.com/nginx/nginx/blob/aa49a416b8ea762558211de25d6ee70ca73bb373/src/http/ngx_http_request.c#L826
The annotation here says The majority of browsers do not send the "close notify" alert....Opera and recent Mozilla send the alert. Based on my test on Chrome, Safari and other Python library. They don't send close notify but send FIN/RST to close the connection. It is acceptable for nginx.

So once the peer follow the RFC2246 to send close notify before closing a connection, nginx application doesn't handle this message. Nginx leave this message to kernel and kernel generates TCP RST.

I would suggest remove this line from the code because:

1. As a server, it's not graceful to generate RST during the communication. 
2. We need consider like health check clients. Most of them use short-lived connection and follow the RFC standard.
3. Nginx can still handle SSL shutdown setting in function [ngx_ssl_handle_recv](https://github.com/nginx/nginx/blob/aa49a416b8ea762558211de25d6ee70ca73bb373/src/event/ngx_event_openssl.c#L2389).

TLS standard allows us not to wait for a close_notify from the peer. Here's a quote from RFC 8446, Section 6.1:
```
Both parties need not wait to receive a
"close_notify" alert before closing their read side of the
connection, though doing so would introduce the possibility of
truncation.
```

Indeed a simple test shows that a server will send TCP RST in the above mentioned case. If that's not desired, you can force lingering in nginx:
```
lingering_close always;
```

Thank for you pointing out this directive. It's helpful