Bug: RFC 9114 violation

**Description:**
NGINX violates RFC 9114 (HTTP/3) by not properly handling malformed request pseudo-header fields.

According to RFC 9114, Section 4.1.2 (Request Pseudo-Header Fields), malformed requests MUST be treated as a stream error of type H3_MESSAGE_ERROR.

**Expected Behavior**
i would expect NGINX to send back close stream with H3_MESSAGE_ERROR. 


**Steps to reproduce**
In all cases below, NGINX does not close the request stream with H3_MESSAGE_ERROR.
```
[(":method","GET"),(":scheme","https"),(":path","/")] // the absence of mandatory pseudo-header fields

[(":method","GET"),(":scheme","https"),(":autority","127.0.0.1"),(":path","/"),(":foo","bar")] // the presence of prohibited fields or pseudo-header fields,

[(":method","GET"),(":scheme","https"),(":autority","127.0.0.1"),("foo","bar"),(":path","/")] // pseudo-header fields after fields

[(":method","GET"),(":scheme","https"),(":authority","127.0.0.1"),(":path","/"),(":method","GET")] // the presence of the presence of duplicated pseudo-header fileds
```


**Environment**
NGINX: 1.29.4 (release branch)
OS: Debian Trixie



nginx correctly handles all such malformed requests, returning HTTP 400. How did you test?

Note that in your examples there's `":autority"` typo, which additionally suggests that you may want to re-verify your testing methodology.
