HTTP/3 static loading problem

Hello.
When loading pages via HTTP/3, it freezes on static loading.

<img width="1545" height="512" alt="Image" src="https://github.com/user-attachments/assets/2d70302d-e230-4ec1-b4fa-5f66b986fc5d" />

How can I fix this?

**config**
```
server {
        listen 443 quic reuseport;
        http2 on;
        listen 443 ssl;

        ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
        
        add_header Alt-Svc 'h3=":443";ma=86400,h3-29=":443";ma=86400,h3-27=":443";ma=86400' always;
    add_header x-quic 'h3' always;
        
        server_name example.com;
        root /var/www/example.com;
        gzip off;
        
        location / {
                index index.html;
        }
}
```

Could you share debug logging for the relevant connection?

https://nginx.org/en/docs/debugging_log.html

```
2025/08/10 15:56:49 [debug] 38019#38019: worker cycle
2025/08/10 15:56:49 [debug] 38019#38019: epoll timer: 120
2025/08/10 15:56:49 [debug] 38019#38019: epoll: fd:9 ev:0001 d:000056AA3B2BD580
2025/08/10 15:56:49 [debug] 38019#38019: quic recvmsg on 0.0.0.0:443, ready: 0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic recvmsg: fd:9 n:54
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic input handler
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx short flags:46
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx dcid len:20 0000000000000002090dcbec6fd6c864a55a9cfc
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx clearflags:40
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx number:195 len:1
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet len:54 via sock seq:0 path seq:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic path seq:0 status tx:323385 rx:16738 valid:1 st:0 mtu:1472
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame rx app:195 ACK n:5 delay:0 373-372 369-368 364-363 360-359 355-353 350
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic ngx_quic_handle_ack_frame level:3
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic cubic t:191 w:2516 wm:2512
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion ack reno t:149666784 win:2954 c:2516 if:2944
2025/08/10 15:56:49 [debug] 38019#38019: *2 post event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic updated largest received ack:373
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic rtt sample latest:74 min:74 avg:79 var:4
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149666904
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149666904
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic ngx_quic_ack_packet pn:195 largest 194 fr:128 nranges:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet done rc:0 level:app decr:1 pn:195 perr:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer: 9, old: 149696593, new: 149696784
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: read:29809 pto:120
2025/08/10 15:56:49 [debug] 38019#38019: timer delta: 0
2025/08/10 15:56:49 [debug] 38019#38019: posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 delete posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic push handler
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic output app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic split frame now:4396 need:1454 shrink:2942
2025/08/10 15:56:49 [debug] 38019#38019: *2 posix_memalign: 000056AA3B425D70:512 @16
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame tx app:376 STREAM id:0x78 off:2131 len:1447
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet tx app bytes:1454 need_ack:1 number:376 encoded nl:1 trunc:0x78
2025/08/10 15:56:49 [debug] 38019#38019: *2 sendmsg: 1472 of 1472
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion send if:4416
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer: 9, old: 149696593, new: 149696784
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149666904
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149666904
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: send:29809 pto:120
2025/08/10 15:56:49 [debug] 38019#38019: worker cycle
2025/08/10 15:56:49 [debug] 38019#38019: epoll timer: 120
2025/08/10 15:56:49 [debug] 38019#38019: timer delta: 121
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149666904
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic pto timer
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic pto app pto_count:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic sendto app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame tx app:377 PING
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet tx app bytes:3 need_ack:0 number:377 encoded nl:1 trunc:0x79
2025/08/10 15:56:49 [debug] 38019#38019: *2 sendmsg: 21 of 21
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion send if:4437
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149667025
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic sendto app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame tx app:378 PING
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet tx app bytes:3 need_ack:0 number:378 encoded nl:1 trunc:0x7a
2025/08/10 15:56:49 [debug] 38019#38019: *2 sendmsg: 21 of 21
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion send if:4458
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667025
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149667025
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667025
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:240
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 240:149667145
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: send:29688 pto:240
2025/08/10 15:56:49 [debug] 38019#38019: worker cycle
2025/08/10 15:56:49 [debug] 38019#38019: epoll timer: 240
2025/08/10 15:56:49 [debug] 38019#38019: epoll: fd:9 ev:0001 d:000056AA3B2BD580
2025/08/10 15:56:49 [debug] 38019#38019: quic recvmsg on 0.0.0.0:443, ready: 0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic recvmsg: fd:9 n:56
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic input handler
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx short flags:40
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx dcid len:20 0000000000000002090dcbec6fd6c864a55a9cfc
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx clearflags:40
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx number:196 len:1
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet len:56 via sock seq:0 path seq:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic path seq:0 status tx:324899 rx:16794 valid:1 st:0 mtu:1472
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame rx app:196 ACK n:6 delay:3 377 373-372 369-368 364-363 360-359 355-353 350
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic ngx_quic_handle_ack_frame level:3
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic cubic t:386 w:2545 wm:2512
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion ack reno t:149666979 win:2959 c:2545 if:4437
2025/08/10 15:56:49 [debug] 38019#38019: *2 post event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic updated largest received ack:377
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic rtt sample latest:74 min:74 avg:79 var:4
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic detect_lost pnum:374 thr:88 pthr:3 wait:-107 level:3
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic resend packet pnum:374
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic cubic time:303 n:8
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion lost t:149666979 win:2944 if:2965
2025/08/10 15:56:49 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic detect_lost pnum:375 thr:88 pthr:3 wait:-107 level:3
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic resend packet pnum:375
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion lost rec t:149666979 win:2944 if:1493
2025/08/10 15:56:49 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic detect_lost pnum:376 thr:88 pthr:3 wait:-107 level:3
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic resend packet pnum:376
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion lost rec t:149666979 win:2944 if:21
2025/08/10 15:56:49 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667145
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:46
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 46:149667025
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic ngx_quic_ack_packet pn:196 largest 195 fr:129 nranges:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet done rc:0 level:app decr:1 pn:196 perr:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149696593
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 30000:149696979
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: read:30000 pto:46
2025/08/10 15:56:49 [debug] 38019#38019: timer delta: 74
2025/08/10 15:56:49 [debug] 38019#38019: posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 delete posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic push handler
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic output app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic split frame now:2949 need:1454 shrink:1495
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame tx app:379 STREAM id:0x78 off:3578 len:1447
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet tx app bytes:1454 need_ack:1 number:379 encoded nl:1 trunc:0x7b
2025/08/10 15:56:49 [debug] 38019#38019: *2 sendmsg: 1472 of 1472
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion send if:1493
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic output app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic split frame now:1502 need:1454 shrink:48
2025/08/10 15:56:49 [debug] 38019#38019: *2 posix_memalign: 000056AA3B425F80:512 @16
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame tx app:380 STREAM id:0x78 off:5025 len:1447
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet tx app bytes:1454 need_ack:1 number:380 encoded nl:1 trunc:0x7c
2025/08/10 15:56:49 [debug] 38019#38019: *2 sendmsg: 1472 of 1472
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion send if:2965
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer: 9, old: 149696979, new: 149696979
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667025
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149667099
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: send:30000 pto:120
2025/08/10 15:56:49 [debug] 38019#38019: worker cycle
2025/08/10 15:56:49 [debug] 38019#38019: epoll timer: 120
2025/08/10 15:56:49 [debug] 38019#38019: epoll: fd:9 ev:0001 d:000056AA3B2BD580
2025/08/10 15:56:49 [debug] 38019#38019: quic recvmsg on 0.0.0.0:443, ready: 0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic recvmsg: fd:9 n:56
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic input handler
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx short flags:50
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx dcid len:20 0000000000000002090dcbec6fd6c864a55a9cfc
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx clearflags:40
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet rx number:197 len:1
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet len:56 via sock seq:0 path seq:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic path seq:0 status tx:327843 rx:16850 valid:1 st:0 mtu:1472
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame rx app:197 ACK n:6 delay:0 378-377 373-372 369-368 364-363 360-359 355-353 350
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic ngx_quic_handle_ack_frame level:3
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion ack rec t:149666979 win:2944 if:2944
2025/08/10 15:56:49 [debug] 38019#38019: *2 post event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic updated largest received ack:378
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic rtt sample latest:74 min:74 avg:79 var:4
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667099
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149667099
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic ngx_quic_ack_packet pn:197 largest 196 fr:130 nranges:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet done rc:0 level:app decr:1 pn:197 perr:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer: 9, old: 149696979, new: 149696979
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: read:30000 pto:120
2025/08/10 15:56:49 [debug] 38019#38019: timer delta: 0
2025/08/10 15:56:49 [debug] 38019#38019: posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 delete posted event 000056AA3B2B8468
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic push handler
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic output app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: read:30000 pto:120
2025/08/10 15:56:49 [debug] 38019#38019: worker cycle
2025/08/10 15:56:49 [debug] 38019#38019: epoll timer: 120
2025/08/10 15:56:49 [debug] 38019#38019: timer delta: 120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667099
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic pto timer
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic pto app pto_count:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic sendto app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame tx app:381 PING
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet tx app bytes:3 need_ack:0 number:381 encoded nl:1 trunc:0x7d
2025/08/10 15:56:49 [debug] 38019#38019: *2 sendmsg: 21 of 21
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion send if:2965
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer: 9, old: 149696979, new: 149697099
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149667219
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic sendto app packet max:1472 min:0
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic frame tx app:382 PING
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic packet tx app bytes:3 need_ack:0 number:382 encoded nl:1 trunc:0x7e
2025/08/10 15:56:49 [debug] 38019#38019: *2 sendmsg: 21 of 21
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic congestion send if:2986
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667219
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 120:149667219
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer del: 9: 149667219
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic lost timer pto:240
2025/08/10 15:56:49 [debug] 38019#38019: *2 event timer add: 9: 240:149667339
2025/08/10 15:56:49 [debug] 38019#38019: *2 quic state: send:29880 pto:240
2025/08/10 15:56:49 [debug] 38019#38019: worker cycle
2025/08/10 15:56:49 [debug] 38019#38019: epoll timer: 240
2025/08/10 15:56:50 [debug] 38019#38019: epoll: fd:9 ev:0001 d:000056AA3B2BD580
2025/08/10 15:56:50 [debug] 38019#38019: quic recvmsg on 0.0.0.0:443, ready: 0
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic recvmsg: fd:9 n:58
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic input handler
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet rx short flags:56
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet rx dcid len:20 0000000000000002090dcbec6fd6c864a55a9cfc
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet rx clearflags:40
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet rx number:198 len:1
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet len:58 via sock seq:0 path seq:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic path seq:0 status tx:327885 rx:16908 valid:1 st:0 mtu:1472
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic frame rx app:198 ACK n:7 delay:3 381 378-377 373-372 369-368 364-363 360-359 355-353 350
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic ngx_quic_handle_ack_frame level:3
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic cubic t:-109 w:2959 wm:2959
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion ack cubic t:149667173 win:2951 c:2959 if:2965
2025/08/10 15:56:50 [debug] 38019#38019: *2 post event 000056AA3B2B8468
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic updated largest received ack:381
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic rtt sample latest:74 min:74 avg:79 var:4
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic detect_lost pnum:379 thr:88 pthr:3 wait:-106 level:3
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic resend packet pnum:379
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion lost rec t:149667173 win:2951 if:1493
2025/08/10 15:56:50 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:50 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic detect_lost pnum:380 thr:88 pthr:3 wait:-106 level:3
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic resend packet pnum:380
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion lost rec t:149667173 win:2951 if:21
2025/08/10 15:56:50 [debug] 38019#38019: *2 update posted event 000056AA3B2B8468
2025/08/10 15:56:50 [debug] 38019#38019: *2 event timer del: 9: 149667339
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic lost timer pto:46
2025/08/10 15:56:50 [debug] 38019#38019: *2 event timer add: 9: 46:149667219
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic ngx_quic_ack_packet pn:198 largest 197 fr:131 nranges:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet done rc:0 level:app decr:1 pn:198 perr:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 event timer: 9, old: 149696979, new: 149697173
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic state: read:29806 pto:46
2025/08/10 15:56:50 [debug] 38019#38019: timer delta: 74
2025/08/10 15:56:50 [debug] 38019#38019: posted event 000056AA3B2B8468
2025/08/10 15:56:50 [debug] 38019#38019: *2 delete posted event 000056AA3B2B8468
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic push handler
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic output app packet max:1472 min:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic frame tx app:383 STREAM id:0x78 off:6472 len:48
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic frame tx app:383 STREAM id:0x78 off:6520 len:0 fin:1
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic frame tx app:383 STREAM id:0x7 off:31 len:1
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic split frame now:9894 need:1389 shrink:8505
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic frame tx app:383 STREAM id:0x7c off:0 len:1383
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet tx app bytes:1454 need_ack:1 number:383 encoded nl:1 trunc:0x7f
2025/08/10 15:56:50 [debug] 38019#38019: *2 sendmsg: 1472 of 1472
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion send if:1493
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic output app packet max:1472 min:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic split frame now:8512 need:1454 shrink:7058
2025/08/10 15:56:50 [debug] 38019#38019: *2 posix_memalign: 000056AA3B426190:512 @16
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic frame tx app:384 STREAM id:0x7c off:1383 len:1447
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic packet tx app bytes:1454 need_ack:1 number:384 encoded nl:1 trunc:0x80
2025/08/10 15:56:50 [debug] 38019#38019: *2 sendmsg: 1472 of 1472
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion send if:2965
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic congestion idle:0
2025/08/10 15:56:50 [debug] 38019#38019: *2 event timer: 9, old: 149696979, new: 149697173
2025/08/10 15:56:50 [debug] 38019#38019: *2 event timer del: 9: 149667219
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic lost timer pto:120
2025/08/10 15:56:50 [debug] 38019#38019: *2 event timer add: 9: 120:149667293
2025/08/10 15:56:50 [debug] 38019#38019: *2 quic state: send:29806 pto:120
```

full error.log

[error.log](https://github.com/user-attachments/files/21705525/error.log)

> ```
> ...
> 2025/08/10 15:56:50 [debug] 38019#38019: *2 quic frame rx app:198 ACK n:7 delay:3 381 378-377 373-372 369-368 364-363 360-359 355-353 350
> ...
> ```

There's over 50% packet loss on the given packet range 350-381, and most likely - on the entire connection.
Generally, packet loss below 1% is considered acceptable, it becomes noticeable starting from 2%.
So it's quite expected to be so slow, you may want to check your internet connection.

Note that full error.log doesn't have these lines posted inline, it corresponds to a different time frame.
So it doesn't help to wholly understand the source of "freezing", e.g. it might be that the connection is stuck trying to retransmit lost data virtually forever, which may be expected on such high level of packet loss.

I looked into this "full error.log" file as well and see the same source of problems.
There are two QUIC connections seen experiencing high packet loss.
Only the initial part of both connections is logged there, it corresponds to the QUIC handshake.

Some highlights for the one of connections below.
TL;DR: there's a high number (4-5) of retransmits due to packet loss from both sides.
It doesn't seem to be related to hitting MTU, there should be other reasons like overloaded networks, faulty h/w, wireless.

```
rx                                              tx

I1: CRYPTO: 31+54 1013+641 0+1 1+30 1654+198
total: 0..85 1013..1852
                                                I0: ACK:1
I2: CRYPTO: 330+11 488+70 951+1 341+147 952+9 995+2 558+391 961+34 949+2 85+245 997+16
total: 0..1852
                                                I1: ACK:1-2, CRYPTO: 0+90
                                                H0: CRYPTO: 0+125 125+874
                                                H1: CRYPTO: 999+1149
                                                H2: CRYPTO: 2148+27 2175+78 2253+36
I3: lost
I4: PING, CRYPTO: 1294+334, 84+1, 20+64, 1013+281, 1749+91, 1628+121, 1840+12, 0+20
total: 0..1852  <--- apparent client's resend I1 after server's [I0, I1] acknowledgments lost
                                                <-- server makes its full resend per RFC 9002, 6.2.3
                                                I2: ACK:1-2, CRYPTO: 0+90
                                                H3: CRYPTO: 0+125, 125+872
                                                H4: CRYPTO: 997+2 999+1143
                                                <-- now limited by inflight window 2400 after previous congestion lost event

I5: lost
I6: PING, CRYPTO: 704+88, 939+74, 665+36, 846+28, 792+54, 85+343, 428+237, 701+3, 874+29, 903+36
total: 0..1852  <--- apparent client's resend I2 after server's [I0, I1, I2] acknowledgments lost
                                                <-- server makes its full resend per RFC 9002, 6.2.3
                                                I3: ACK:1-2, CRYPTO: 0+90
                                                H5: CRYPTO: 2142+6, 2148+27, 2175+78, 2253+36, 0+125, 125+706
                                                H6: CRYPTO: 831+166, 997+2, 999+972
                                                <-- reset from the oldest, limited by inflight window 2400 after congestion lost
I7: lost
I8: PING, CRYPTO: ...
total: 0..1852  <--- apparent client's resend after server's [I0, I1, I2, I3] acknowledgments lost
                                                <-- server makes its full resend per RFC 9002, 6.2.3
                                                I4: ACK:1-2, CRYPTO: 0+90
                                                H7: CRYPTO: 1971+171, 2142+6, 2148+27, 2175+78, 2253+36, 0+125, 125+528
                                                H8: CRYPTO: 653+178, 831+166, 997+2, 999+789

                                                PTO event:
                                                I5: PING
                                                I6: PING
                                                H9: PING
                                                H10: PING

I9: ACK:5-6     <--- PING only packets ACK'ed, schedule to resend I4 (+ rest)

                                                lost event: resend I4
                                                I7: CRYPTO: 0+90
                                                H11: CRYPTO: 1788+183

H10: ACK:8-11   <--- switch to HS packets means all server's Initial packets received (might be I4 or I7)
                <--- server's CRYPTO 653..1971 ack'ed so far, resend H7:
                                                H12: CRYPTO: 1971+171, 2142+6, 2148+27, 2175+78, 2253+36, 0+125, 125+528
H11: ACK:8-12, CRYPTO: 0+36
                <--- all server's CRYPTO ack'ed, handshake complete
```


Network providers interfere  limit UDP speeds, especially based on QUIC. This often happens in mainland China, Russia, and other countries with high Internet regulation.

We are observing exactly the same behavior and have now been able to narrow down the problem:

It occurs when you are on a network with a small MTU, e.g., Dual Stack Lite (DS-Lite) cable ISP, where clients use IPv4 (unaware over IPv6) and only an MTU of 1432 is available (instead of 1472 due to the IPv6 header. IPv6 is never visible, neither to the client nor to the server.)

Here, QUIC starts with an MTU of 1200 and the first data is loaded successfully.
`*9 quic path seq:0 status tx:53782 rx:5336 valid:1 st:2 mtu:1200`

A new MTU is then scheduled and future data is sent with this higher MTU. 
`*16 quic path seq:0 schedule mtu:1472`
...
`*9 quic path seq:0 ack mtu:1472`
...
`*9 quic path seq:0 status tx:55299 rx:5729 valid:1 st:0 mtu:1472`


Now the too big packets are discarded along the way and you observe exactly the freezing or extremely slow loading times described above. On server side, a long-lasting "loop" can be observed.
```
11:14:16.604471 IP Server.https > Client.37975: UDP, length 1472
11:14:16.604481 IP Server.https > Client.37975: UDP, length 1472
11:14:16.604493 IP Server.https > Client.37975: UDP, length 1472
11:14:16.640843 IP Client.37975 > Server.https: UDP, length 41
11:14:16.640888 IP Server.https > Client.37975: UDP, length 25
11:14:16.688000 IP Server.https > Client.37975: UDP, length 21
11:14:16.688010 IP Server.https > Client.37975: UDP, length 21
11:14:16.707502 IP Client.37975 > Server.https: UDP, length 44
11:14:16.707562 IP Server.https > Client.37975: UDP, length 1472
11:14:16.707575 IP Server.https > Client.37975: UDP, length 1472
11:14:16.714214 IP Client.37975 > Server.https: UDP, length 44
11:14:16.794386 IP Server.https > Client.37975: UDP, length 21
11:14:16.794396 IP Server.https > Client.37975: UDP, length 21
11:14:16.823039 IP Client.37975 > Server.https: UDP, length 46
...
11:15:26.707562 IP Server.https > Client.37975: UDP, length 1472
11:15:26.707575 IP Server.https > Client.37975: UDP, length 1472
11:15:26.714214 IP Client.37.75 > Server.https: UDP, length 44
...
```

There are no ICMPs indicating too big or fragment UDPs. 

Setup: nginx/1.29.2, server mtu 1500

Popular sites, where this behavior can be observed: [https://doc.dovecot.org/latest/](https://doc.dovecot.org/latest/), [https://wordpress.org/documentation/](https://wordpress.org/documentation/)

Reducing the MTU on the server's eth link accordingly solves the problem. Everything loads as expected very quick with smaller UDP packets. But of course, that's not a solution. There sould be a reliable way to find out MTU on DS-Lite links.

I ran into this issue as well. Following the suggestion from @AInteriorB , I set my server's eth MTU to 1460. This was to prevent upstream network devices from encapsulating my datagrams with an additional 40-byte IPv6 header, which would cause them to exceed the default Ethernet MTU. After making this change, all QUIC traffic instantly returned to normal.

PMTUD is clearly not working on my end. I'm wondering, should the actual path MTU be discovered based on ACKs instead of ICMP responses?

Or, for a simpler solution, maybe there should be a directive something like `quic_mss` that allows users to manually set the maximum UDP payload size specifically for QUIC applications?

In QUIC, MTU discovery is based on DLPMTUD.
Once a new higher probe is acknowledged, it is set to the given path, no matter of TCP options.

A possible reason is if your path MTU has a dynamic nature, such that successful probes doesn't necessarily represent actual PMTU.

In this regard, what could be improved here is lowering PMTU on failure.

Yeah I saw it in 

https://github.com/nginx/nginx/blob/release-1.28.0/src/event/quic/ngx_event_quic_migration.c

TCP has MSS clamping, which UDP doesn't have. But I think in the circumstance of DS-Lite, maybe the best way to deal with it is to set your eth MTU to 1460? TCP works normally just because the ISP clamps the MSS for you, your actual available MTU is just 1460?

A question is, how to distinguish between packet loss and spurious PMTU?

Thanks for your contribution. Lowering the entire server's link MTU 'just because of a few DS connections on UDP 443' is not a good option. You never know if someone has an even lower MTU.

I'm wondering why Litespeed's DLPMTUD implementation works with the same setup/environment. There, the MTU stays below 1400.

@pluknet, could you explain how the acknowledgement works? I just see packages being sent with an MTU of 1200, followed by schedule and sending with 1472, with no negotiation. Incidentally, there is no dynamic MTU on the network. It's fixed at 1500 - 40 for the "invisible IPv6 header". 

```
2025/10/13 11:03:15 [debug] 784240#784240: *1 quic path seq:0 send probe mtu:1472 pnum:45 tries:0
2025/10/13 11:03:15 [debug] 784240#784240: *1 quic sendto app packet max:1472 min:1472
2025/10/13 11:03:15 [debug] 784240#784240: *1 quic frame tx app:45 PING 
2025/10/13 11:03:15 [debug] 784240#784240: *1 quic packet tx app bytes:1454 need_ack:0 number:45 encoded nl:1 trunc:0x2d
2025/10/13 11:03:15 [debug] 784240#784240: *1 sendmsg: 1472 of 1472
2025/10/13 11:03:15 [debug] 784240#784240: *1 quic congestion send if:5664
```

@AInteriorB 
Discovery algorithm in nginx is based on doubling PMTU probes until first failure, then binary search.  Probing is stopped with some precision to avoid extra probe cycles, then discovery enters the final idle state, see ngx_quic_discover_path_mtu().
Failure means that the probe was not acknowledged as implemented per RFC 9000, section 14.3.

For PMTU 1500 (and UDP header = 28) it may look as follows, per debug log.
Here I limited link MTU for illustration purpose.
```
$ egrep '(probe|ack|rejected) mtu' /tmp/nginx-test-*/error.log 
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:2400 pnum:4 tries:0
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 rejected mtu:2400
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1800 pnum:5 tries:0
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 rejected mtu:1800
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1500 pnum:6 tries:0
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 rejected mtu:1500
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1350 pnum:7 tries:0
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1350 pnum:8 tries:1
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 ack mtu:1350
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1425 pnum:9 tries:0
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 ack mtu:1425
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1462 pnum:10 tries:0
2025/10/17 13:34:14 [debug] 40036#40036: *1 quic path seq:0 ack mtu:1462
2025/10/17 13:34:15 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1481 pnum:11 tries:0
2025/10/17 13:34:15 [debug] 40036#40036: *1 quic path seq:0 rejected mtu:1481
2025/10/17 13:34:15 [debug] 40036#40036: *1 quic path seq:0 send probe mtu:1471 pnum:12 tries:0
2025/10/17 13:34:15 [debug] 40036#40036: *1 quic path seq:0 ack mtu:1471
```

Taking your example, probing 1472 apparently means that there were some preceding unsuccessful probes (such as 2400), so discovery switched to binary search.  Note that this probe not necessarily will be accepted, you should look for "ack mtu" messages with the matching MTU size in your debug.log as illustrated above, if found that would mean that PMTU probe was acknowledged and will be used as a new MTU on this path for subsequent packets.

@pluknet thanks for the detailed explanation! I made the suggested grep on the debug log mentioned in my last two postings. It looks much cleaner than yours. Only a probe and ack with 1472  - too high :/
```
# egrep '(probe|ack|rejected) mtu' nginx-debug-error.log
2025/10/13 11:03:15 [debug] 784240#784240: *1 quic path seq:0 send probe mtu:1472 pnum:45 tries:0
2025/10/13 11:03:15 [debug] 784240#784240: *1 quic path seq:0 ack mtu:1472
2025/10/13 11:03:58 [debug] 784241#784241: *9 quic path seq:0 send probe mtu:1472 pnum:44 tries:0
2025/10/13 11:03:58 [debug] 784241#784241: *9 quic path seq:0 ack mtu:1472
```

doublechecked the mtu on client connection, it is 1460:
```
% ping wordpress.org -s 1432
PING wordpress.org (198.143.164.252): 1432 data bytes
1440 bytes from 198.143.164.252: icmp_seq=0 ttl=46 time=127.432 ms

% ping wordpress.org -s 1433
PING wordpress.org (198.143.164.252): 1433 data bytes
556 bytes from 192.168.0.1: frag needed and DF set (MTU 1460)
```

To rule out a local router or configuration problem, I asked a friend who uses the same internet provider to visit the test server and wordpress.org. The behavior was exactly the same. Extreme slow loading, not finished after 2 minutes!

<img width="703" height="389" alt="Image" src="https://github.com/user-attachments/assets/e7de7cb3-e172-4f01-b377-af58fd80b557" />


Would it help to provide the complete debug log, since the error cannot be resolved on all the clients? And is there a way to configure the mtu on nginx side? I saw that there was a directive "quic_mtu", but it didn't make it into the release.

@pluknet, I captured clean debug logs with two subsequent requests to the same index.html file.

- [nginx-debug.log](https://github.com/user-attachments/files/22990024/nginx-debug.log)
- [tcpdump_server.log](https://github.com/user-attachments/files/22990028/tcpdump_server.log)
- [tcpdump_client.log](https://github.com/user-attachments/files/22990029/tcpdump_client.log)

Client: Chrome Version 141.0.7390.108 (Offizieller Build)

Thanks for providing logs, I'll look at them and come back later.

So MTU is further limited by the client via max_udp_payload_size transport parameter, the value known to be sent by Chrome. That's why it is tried first.


We had a similar issue on a few of our servers... rare and far between, but eventually traced it to ISP middleboxes accepting ~1470 byte packets on the user's behalf while the user could only handle ~1380. connections stall, pages feel like they load forever or not at all, and the client eventually falls back to h2.

We have some code we run internally on some servers that among other things improves PMTUD black-hole detection and recovery. Would that be something you'd be interested in testing?